<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flash cards</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css" />
    <script src="assets/script.js" type="module"></script>
  </head>
  <body>
    <div v-scope="Flashcards()" @vue:mounted="mounted" v-cloak class="container">
      <ul class="cards" ref="scrollContainer">
        <li v-for="card, index in cards" :key="card.id">
          <div class="card" :id="card.id">
            <div class="inner">
              <div class="front">{{card.front}}</div>
              <div class="back">{{card.back}}...Back</div>
            </div>
          </div>
        </li>
        <li>
          <div class="card card-add">
            <div class="inner">
              <div class="front">
                <input placeholder="Add card" v-model="newCardInput" @keydown.enter="addCard" />
                <button @click="addCard">Add</button>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="controls">
        <div>
          <button @click="rate(activeCard, 'positive')" class="squircle positive" :disabled="!activeCard">
            <svg viewBox="0 0 200 200">
              <path d="M0 100C0 12 12 0 100 0s100 12 100 100-12 100-100 100S0 188 0 100" />
            </svg>
            <div>
              <svg viewBox="0 0 24 24" class="icon">
                <circle cx="12" cy="12" r="10" />
                <path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01" />
              </svg>
            </div>
          </button>
          <button @click="rate(activeCard, 'negative')" class="squircle negative" :disabled="!activeCard">
            <svg viewBox="0 0 200 200">
              <path d="M0 100C0 12 12 0 100 0s100 12 100 100-12 100-100 100S0 188 0 100" />
            </svg>
            <div>
              <svg viewBox="0 0 24 24" class="icon">
                <circle cx="12" cy="12" r="10" />
                <path d="M16 16s-1.5-2-4-2-4 2-4 2M9 9h.01M15 9h.01" />
              </svg>
            </div>
          </button>
        </div>
        <button @click="flip(activeCard)" class="squircle neutral" :disabled="!activeCard">
          <svg viewBox="0 0 200 200">
            <path d="M0 100C0 12 12 0 100 0s100 12 100 100-12 100-100 100S0 188 0 100" />
          </svg>
          <div>
            <svg viewBox="0 0 24 24" class="icon">
              <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </body>
</html>
